<div class="home-body">
    <h2>Добро пожаловать!</h2>
    <h2>Это автоматический формирователь отчетов</h2>
    <p></p>
    <h3>Как это работает?</h3>
    <div class="work-principle-container">
        <div class="work-principle-item">1. Авторизоваться</div>
        <div class="work-principle-item">2. Скачать шаблон отчета нужной лабораторной работы</div>
        <div class="work-principle-item">3. Ввести требуемые данные согласно шаблону</div>
        <div class="work-principle-item">4. Скачать готовый отчет</div>
    </div>
    <p></p>
    <br>
    <button>Начать</button>
</div>