<form class="flex-form" [formGroup]="form" (ngSubmit)="submit()">
    <input class="modal-input" type="text" placeholder="Фамилия" formControlName="surname">
    <p class="error-message-under-field" *ngIf="surname.errors?.['required']">
        Требуется фамилия!
    </p>

    <input class="modal-input" type="text" placeholder="Имя" formControlName="name">
    <p class="error-message-under-field" *ngIf="name.errors?.['required']">
        Требуется имя!
    </p>

    <input class="modal-input" type="text" placeholder="Отчество" formControlName="patronymic">
    <p class="error-message-under-field" *ngIf="patronymic.errors?.['required']">
        Требуется отчество!
    </p>

    <input class="modal-input" type="text" placeholder="Логин" formControlName="login">
    <p class="error-message-under-field" *ngIf="login.errors?.['required']">
        Требуется логин!
    </p>

    <input class="modal-input" type="text" placeholder="E-mail" formControlName="email">
    <p class="error-message-under-field" *ngIf="email.errors?.['required']">
        Требуется адрес электронной почты!
    </p>
    <p class="error-message-under-field" *ngIf="email.errors?.['pattern']">
        Некорректный e-mail!
    </p>

    <input class="modal-input" type="text" placeholder="Пароль" formControlName="password">
    <p class="error-message-under-field" *ngIf="password.errors?.['required']">
        Требуется пароль!
    </p>
    <p class="error-message-under-field" *ngIf="password.errors?.['minlength']">
        Минимальная длина пароля - 6 символов!
    </p>
    <p class="error-message-under-field" *ngIf="password.errors?.['pattern']">
        Пароль должен включать хотя бы одну строчную букву и одну цифру!
    </p>

    <input class="modal-input" type="text" placeholder="Повтор пароля" formControlName="confirmPassword">
    <p class="error-message-under-field" *ngIf="confirmPassword.errors?.['required']">
        Требуется повтор пароля!
    </p>
    <p class="error-message-under-field" *ngIf="confirmPassword.errors?.['minlength']">
        Минимальная длина пароля - 6 символов!
    </p>
    <p class="error-message-under-field" *ngIf="confirmPassword.errors?.['pattern']">
        Пароль должен включать хотя бы одну строчную букву и одну цифру!
    </p>
    
    <p></p>
    <button class="btn-with-border" type="submit">Отправить</button>
</form>