nav {
    background-color: #DCE8FF;
    box-sizing: border-box;
    padding: 20px 5% 15px 5%;
    font-size: 90%;
}

.nav-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}