<nav>
    <div *ngIf="!authService.isAuthorized()" class="nav-block">
        <span style="font-size: 110%;">Здравствуй, пользователь!</span>
        <div class="nav-container">
            <button style="margin-right: 20px; font-size: 90%;" (click)="modalService.open(register)">Регистрация</button>
            <button style="font-size: 90%;" (click)="modalService.open(login)">Авторизация</button>
        </div>
    </div>
    
    <div *ngIf="authService.isAuthorized()" class="nav-block">
        <span style="font-size: 110%;">Здравствуй, {{authService.currentUser?.name}} {{authService.currentUser?.surname}}!</span>
        <button (click)="authService.logOut()">Выход</button>
    </div>

    <div *ngIf="modalService.isLogin$ | async">
        <app-modal title="Авторизация" *ngIf="modalService.isVisible$ | async">
            <app-login></app-login>
        </app-modal>
    </div>

    <div *ngIf="modalService.isRegister$ | async">
        <app-modal title="Регистрация" *ngIf="modalService.isVisible$ | async">
            <app-register></app-register>
        </app-modal>
    </div>
</nav>